contacts.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:org="http://www.mystudying.org/contactsManager"
        targetNamespace="http://www.mystudying.org/contactsManager"
        elementFormDefault="qualified">
    <simpleType name="Email">
        <restriction base="string">
            <pattern value="[-.\w]+@([\w-]+\.)+[\w-]+"/>
        </restriction>
    </simpleType>
    <simpleType name="Phone">
        <restriction base="string">
            <pattern value="(0\d{8,9})|(\+32[^0]\d{8})"/>
        </restriction>
    </simpleType>
    <simpleType name="Name">
        <restriction base="string">
            <minLength value="2"/>
        </restriction>
    </simpleType>
    <complexType name="Contact">
        <sequence>
            <element name="name" type="org:Name"/>
            <element name="phone" type="org:Phone"/>
        </sequence>
        <attribute name="e-mail" use="required" type="org:Email"/>
    </complexType>
    <complexType name="Contacts">
        <sequence>
            <element name="contact" type="org:Contact" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <element name="contacts" type="org:Contacts"/>
</schema>